<div class="container">
    <div class="row" id="profile-wrapper">
        <h2></h2><br>
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <button type="button" class="btn btn-primary btn-md" onclick="show_hide_u()">Gestión de usuarios</button>
        {% endif %}
        <script type="text/javascript">
            function show_hide_u() {
                var x = document.getElementById("show_hide_user");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </div>

    <div id="show_hide_user">
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark" align="center">
                <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Staff</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for user_s in all_user %}
                <tr>
                    <td>{{ user_s.username }}</td>
                    <td>{{ user_s.first_name }}</td>
                    <td>{{ user_s.last_name }}</td>
                    <td>{{ user_s.email }}</td>
                    <td> {% if user_s.is_superuser %}
                        {{ "Admin" }}
                        {% else %}
                        {{ "User" }}
                        {% endif %}</td>
                    <td>{% if user_s.is_active %}
                        {{ "Activo" }}
                        {% else %}
                        {{ "Inactivo" }}
                        {% endif %}</td>
                    <td>{{ user_s.is_staff }}</td>
                    <td>
                        <!--
                        {% if user_s.is_active %}
                        <a href="#"><button type="button" class="btn btn-info btn-sm">Desactivar</button></a>
                        {% else %}
                        <a href="#"><button type="button" class="btn btn-info btn-sm">Activar</button></a>
                        {% endif %}
                        -->
                        <a href="{% url 'user_edit_profile' user_s.pk %}"><button type="button"
                                class="btn btn-warning btn-sm" disabled>Editar</button></a>
                    </td>
                    <td>
                        <form action="{% url 'user_delete_view' user.pk %}" method="POST" onclick="return u_clicked();">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" disabled>Eliminar</button>
                        </form>
                        <script type="text/javascript">
                            function u_clicked() {
                                return confirm('Seguro que desea eliminar el perfil?');
                            }
                        </script>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>