<div class="container">
    <div class="row" id="profile-wrapper">
        <h2></h2><br>
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <button type="button" class="btn btn-primary btn-md" onclick="show_hide_c()">Gestión de
            categorias</button>
        {% endif %}
        <script type="text/javascript">
            function show_hide_c() {
                var x = document.getElementById("show_hide_category");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </div>

    {% if request.user.is_authenticated and request.user.is_superuser %}
    <div id="show_hide_category">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark" align="center">
                <tr>
                    <th>Nombre</th>
                    <th>Slug</th>
                    <th>Descripción</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.slug }}</td>
                    <td>{{ category.description }}</td>

                    <td>

                        <a href="#"><button type="button" class="btn btn-warning btn-sm">Editar</button></a>
                        <a href="#" onclick="return clicked();"><button type="button"
                                class="btn btn-danger btn-sm">Eliminar</button></a>
                        <script type="text/javascript">
                            function clicked() {
                                return confirm('Seguro que desea eliminar la categoria?');
                            }
                        </script>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>